<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${laptop.laptop_id != null} ? 'Cập Nhật Laptop' : 'Thêm Laptop'"></title>
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    
<main>
    <div class="container mt-5">
        <h2 class="text-center" th:text="${laptop.laptop_id != null} ? 'Cập Nhật Laptop' : 'Thêm Laptop'"></h2>
        <p th:text="${laptop.laptop_id}"></p>
        <!--Đường dẫn này sẽ truy cập vào post -->
    <form th:action="@{${laptop.laptop_id!=null} ? '/admin/addandupdate'+ ${laptop.laptop_id} : '/admin/addandupdate'}" 
        method="post">
      <div class="form-group">
          <label for="name">Tên Laptop:</label>
          <input type="text" id="laptop_name" name="laptop_name" class="form-control" 
                 th:value="${laptop.laptop_name}" required />
      </div>
  
      <div class="form-group">
          <label for="brand">Giá:</label>
          <input type="text" id="laptop_price" name="laptop_price" class="form-control" 
                 th:value="${laptop.laptop_price}" required />
      </div>
      <button type="submit" class="btn btn-success btn-block" 
              th:text="${laptop.laptop_id != null} ? 'Cập Nhật' : 'Thêm Laptop'"></button>
  </form>

    <a th:href="@{/admin/laptop_list}" class="btn btn-secondary btn-block mt-3">Trở lại danh sách</a>
    </div>
</main>
<script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js}"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>